@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b101b;
}

.gradient-header {
  background-image: linear-gradient(
    -90deg,
    #144ee3 0%,
    #eb568e 19%,
    #a353aa 64%,
    #144ee3 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
}
